* {
    margin: 0;
    padding: 0;
}

.welcome {
    font-family: 'Luxora Grotesk', sans-serif;
    font-weight: 100;
    font-size: 2vw;
}

.hb {
    font-family: 'IntroBold', 'Roboto';
    font-size: 4vw;
}

.films {
    font-family: 'Bebas Neue Pro', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    letter-spacing: 2.75vw;
}

.welcomeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vw;
}

.dive {
    font-size: 0.8vw;
    font-weight: 300;
    padding: 0.5vw 0.8vw;
    border-radius: 10rem;
    margin-top: 2.5vw;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.2vw;

}

.arrowRight {
    transition: transform 0.1s ease;
}

.dive:hover .arrowRight {
    transform: rotate(-30deg);
}